@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Employee Dashboard";
}

<h2>Employee Dashboard</h2>
<div ng-controller="EmployeeCtrl" class="container-fluid">

    <div class="container-fluid table table-striped table-bordered table-condensed" ng-repeat="emp in employees">
        <div class="row tile-turquoise">
            <div class="col-md-4 tile-clouds">
                <img src="~/Images/Employee/image1.jpg" alt="Alternate Text" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <b>Name :</b>
                    </div>
                    <div class="col-md-6">
                        {{emp.name.first+' '+emp.name.last}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <b>Company :</b>
                    </div>
                    <div class="col-md-6">
                        {{emp.company}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <b>Email :</b>
                    </div>
                    <div class="col-md-6">
                        {{emp.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <b>phone :</b>
                    </div>
                    <div class="col-md-6">
                        {{emp.phone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <b>about :</b>
                    </div>
                    <div class="col-md-8">
                        {{emp.about}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.13.2.min.js"></script>
<script src="~/app/app.js"></script>
<script src="~/app/controllers/EmployeeController.js"></script>